._287i{display:inline-block;font-size:12px;line-height:22px;vertical-align:middle}
.uiStreamSecondaryTime .img{bottom:-2px;position:relative;vertical-align:top}.withActorSelector .uiStreamSecondaryTime .img{margin-top:6px}

#bootloader_7tR4a{height:42px;}.bootloader_7tR4a{display:block!important;}